{% load static wagtailuserbar wagtailcore_tags %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% spaceless %}
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    {% endspaceless %}</title>
    <meta name="description" content="Different ramblings about movies in different languages" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

    <script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body>
    {% wagtailuserbar %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-inverse navbar-dark bg-dark" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">World in Films</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item px-5">
              <form method="get" autocomplete="on" action="{% url 'search' %}">
                <div class="input-group">
                  <input type="text" class="form-control" name="query" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% block content %} {% endblock %}
      </div>
    </div>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
