{% extends "blog/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block pagecontent %}
  {% if not show_intro %}
  <span class="m-4"></span>

  <h1>{{ page.title }}</h1>

  {{ page.intro|richtext }}

  <hr>
  {% endif %}

  {% for post in posts %}
    {% with post=post.specific %}
      <div class="card mb-4">
        {% if post.image %}
          {% image post.image original as blog_image %}
          <img class="card-img-top" src="{{ blog_image.url }}" alt="{{ blog_image.description }}">
        {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>

              {{ post.intro|richtext }}

            <a href="{{ post.url }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
          Posted {{ post.date|date }} by <a href="mailto:{{ post.owner.email }}">
            {{ post.owner.get_full_name }}
          </a>
        </div>
      </div>
    {% endwith %}
  {% endfor %}

{% endblock %}
