{% extends "blog/base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
{% load wagtailroutablepage_tags %}

{% block pagecontent %}

  <span class="m-4"></span>

  {% if page.image %}
    {% image page.image original as blog_image %}
    <div class="card mb-4">
      <img class="card-img-top" src="{{ blog_image.url }}"  alt="{{ blog_image.default_alt_text }}">
    </div>
  {% endif %}

  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date }}</p>

  <div class="intro dropcaps">{{ page.intro|richtext }}</div>

  {# todo get this styled properly #}
  {% include_block page.body %}

  {% comment %}
    {% if page.tags %}
      <div class="tags">
        <span class="text-bolder">Posted in </span>
        {% for tag in page.tags.all %}
          <a href="#" class="btn btn-outline-dark">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  {% endcomment %}

  <p class="backlink"><a role="link" class="btn btn-primary" href="{{ page.get_parent.url }}">Return to blog</a></p>
{% endblock %}
