{% extends "blog/base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block extra_css %}
<style>
  .richtext p:first-of-type:first-letter, .dropcaps:first-of-type:first-letter {
    height: 0.7em;
    margin: 0.08em 0 -0.05em 0;
    padding: 0 0.065em 0 0;
    font-size: 5em;
    line-height: 0.85em;
    float: left;
    text-color: red;
  }
</style>
{% endblock %}

{% block pagecontent %}

  <span class="m-4"></span>

  {% if page.image %}
    {% image page.image original as blog_image %}
    <div class="card mb-4">
      <img class="card-img-top" src="{{ blog_image.url }}"  alt="{{ blog_image.default_alt_text }}">
    </div>
  {% endif %}

  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date }}</p>

  <div class="intro dropcaps">{{ page.intro|richtext }}</div>

  {# todo get this styled properly #}
  {% include_block page.body %}

  <p><a role="link" href="{{ page.get_parent.url }}">Return to blog</a></p>
{% endblock %}
